body {
  background-color: #fef3ed;
}
nav {
  display: flex;
  justify-content: space-between;

  align-items: center;
  height: 60px;
}
.topInitials {
  color: #496b32;
  font-family: "Jost", sans-serif;
  font-size: 60px;
}
.topNav {
  font-family: "Jost", sans-serif;
  color: #496b32;
  font-size: larger;
  padding: 28px 0;
}
.topNav li {
  display: inline-block;
  margin: 15px;
}
.topNav li a {
  text-decoration: none;
  padding: 5px;
}
h1 {
  text-align: center;
  font-family: "Afacad", sans-serif;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #27233a;
}
h3 {
  text-align: center;
  font-family: "Afacad", sans-serif;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #5e4b56;
  overflow: hidden;
}

.hiMyName {
  color: #496b32;
  font-size: 25vh;
  display: block;
  text-align: right;
  justify-content: right;
  font-family: "Jost", sans-serif;
}

/* .homeimages {
  display: flex;
  align-content: center;
  justify-content: center;
}
.aboutme {
  display: inline-block;
  width: 50%;
}
.portfolio {
  display: inline-block;
  width: 50%;
} */
footer {
  background-color: #c9b98b;
  opacity: 50%;
}

.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: #b69aff;
  margin: 10px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2em;
  color: white;
}
/* .aboutMeImage {
  display: inline-block;
} */
.aboutMePhoto {
  width: 20%;
  margin: 35px;
  display: inline-block;
}

.aboutMeText {
  display: inline-block;
  text-align: justify;
  vertical-align: top;
  font-family: "Afacad", sans-serif;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.portfolioText {
  display: block;
  margin: 25px 275px;
  padding: 15px;
  /* border-radius: 35%; */
  background-color: #5e4b56;
  text-align: center;
  font-size: xx-large;
  font-family: "Afacad", sans-serif;
  font-family: "Barlow Semi Condensed", sans-serif;
}
