body {
  background-color: #fef3ed;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-top: 25px;
  /* position: fixed; */
}
.topInitials {
  color: #496b32;
  font-family: "Jost", sans-serif;
  font-size: 60px;
  margin-left: 25px;
  margin-top: 25px;
}
.topNav {
  font-family: "Jost", sans-serif;
  color: #b69aff;
  font-size: larger;
  padding: 28px 0;
  margin-right: 25px;
  margin-top: 25px;
}
.topNav li {
  display: inline-block;
  margin: 15px;
}
.topNav li a {
  text-decoration: none;
  padding: 5px;
}

.getToKnowMe {
  text-align: center;
  font-family: "Jost", sans-serif;
  color: #5f428c;
  font-size: 55px;
}
h3 {
  text-align: center;
  font-family: "Jost", sans-serif;
  color: #5f428c;
  overflow: hidden;
}

.hiMyName {
  color: #496b32;
  font-size: 225px;
  display: block;
  text-align: right;
  justify-content: right;
  font-family: "Jost", sans-serif;
  margin-right: 65px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.indexPosition {
  display: block;
  text-align: right;
  font-family: "Jost", sans-serif;
  font-size: xx-large;
  color: #5f428c;
  margin-top: 0px;
  margin-right: 65px;
}

footer {
  background-color: #c9b98b;
  opacity: 50%;
}

.footerContainer {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 2.5rem;



}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: #5f428c;
  margin: 10px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2em;
  color: white;
}
.aboutMe{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-content: space-evenly;

}

.aboutMePhoto {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-column-end: 2;
  width: 20vw;
  margin-left: 75px;
  padding-right: 25px;
  align-items: start;
  
 
}

.aboutMeText {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-column-end: ;
  text-align: justify;
  vertical-align: center;
  font-size: x-large;
  font-family: "Jost", sans-serif;
  justify-items: end;
  padding-left: 50px;
  padding-right: 50px;
  color: #5f428c;
}


.portComingSoon {
  text-align: center;
  font-family: "Jost", sans-serif;
  color: #5f428c;
  font-size: 55px;
}

/* Contact CSS */
h2 {
    font-family: "Jost", sans-serif;
    color: #5f428c;
    text-align: center;

}
.contactForm {
  display: flex;
  justify-content: center;
}
